<div id="app">
    <div v-for="event in partIDEvents" :key="event.id">
        <p>
            <label>ID: {{ event.id }}</label>            
            <label for="greeting">Greeting:</label>
            <input type="text" id="greeting" v-model="event.greeting" />
        </p>
        <button v-on:click.prevent="checkData">Check Data</button>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


<script>
!function($) {  
    $(function() {

        var $greetingValues = [
            {
                id: 3272,
                greeting: 'New 3272 greeting text'                  			
            }, 
            {
                id: 9999,
                greeting: 'New 9999 greeting text'                  			
            },
            {
                id: 5111,
                greeting: 'New 5111 greeting text'                  			
            }
        ];

        // Get part ID
        var $partID = $('#pagecntnt_tmpltcntnt_tabContentTabs__ctl1_props1_lblPartId').text();

        new Vue({
            el: '#app',
            data() {
                return {						
                    events: $greetingValues
                };
            },
            computed:{
                partIDEvents: function() {
                    return this.events.filter(function(event) {
                        return event.id == 3272;
                    })
                }	            
            },
            watch: {
                'event.greeting': function(value) {
                    console.log('Greeting changed, new value: ' + value);
                }
            },
            mounted: function($) {
                var $bbisValues = BLACKBAUD.api.customPartEditor.settings.barebonesExample;
                // console.log($greetingValues);
                console.log('$bbisValues');
                console.log(BLACKBAUD.api.customPartEditor.settings.barebonesExample);

                console.log('this.events');
                console.log(this.events);

                // this.setupSettings();
                this.bindSave();

            },      
            methods: {
                checkData: function() {
                    this.updateGreeting('The VueJS Instance (Updated)')
                },
                updateGreeting: function(greeting) {
                    this.greeting = greeting;
                    console.log(this.events);
                    $bbisValues = this.events;
                    console.log($bbisValues);
                },
                bindSave: function () {
                    BLACKBAUD.api.customPartEditor.onSave = function() {
                        // Save data
                        var items = [],
                            success = true;

                        items = $bbisValues;              

                        // Save our greeting
                        BLACKBAUD.api.customPartEditor.settings["barebonesExample"] = items;

                        // Required to allow the settings to save and the part to close
                        return success;  
                    }             
                }
            }
            
        });

    });  
}(jQuery);            
</script>
