<link href="https://foundation.uc.edu/file/config/customContentPartEditor.css" rel="stylesheet" type="text/css">
<link href="https://foundation.uc.edu/file/webdev/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
<link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
<link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">

<style>
    .error { display: none; color: #FF0000; font-weight: bold; }
</style>

<div id="app">
    <div v-for="event in partIDEvent" :key="event.id">
        <div>
            <ul>
                <li class="error error-permission">You do not have permission to launch the image picker.</li>
                <li class="error error-validation error-text">Text is required.</li>
                <li class="error error-validation error-image">Image is required.</li>
            </ul>
        </div>
        <div class="TabContainer">
            <div class="FieldSetRow">
                <div class="FieldSetColumn FieldSetColumnFirst">
                    <div class="Field">
                    <div class="FieldHeading">
                        <label class="FieldLabel" for="field-highlighter-text">Text:</label> 
                        <span class="FieldRequired">*</span> 
                        <span class="clear"></span>
                    </div>
                    <div class="FieldContentText">
                        <input class="FieldSelect FieldInput" data-validate=".error-text" id="field-highlighter-text" type="text" v-model="event.text"> 
                        <input data-validate=".error-image" id="field-highlighter-image-name" type="hidden" v-model="event.image.name"> 
                        <input data-validate=".error-image" id="field-highlighter-image-url" type="hidden" v-model="event.image.url">
                    </div>
                    </div>
                    <div class="Field">
                    <div class="FieldHeading">
                        <label class="FieldLabel" for="field-highlighter-image">Image:</label> 
                        <span class="FieldRequired">*</span> 
                        <span class="clear"></span>
                    </div>
                    <div class="FieldContent">
                        <div class="SearchFieldContainer">
                        <div class="SearchFieldBox">
                            <a class="SearchField ImagePicker" href="#" @click="renderImage">
                                <span class="SearchFieldIcon">
                                    <img alt="" src="/images/pencil_16.gif">
                                </span> 
                                <span class="SearchFieldText">{{event.image.name}}</span> 
                                <span class="SearchFieldButton">
                                    <img alt="" src="/images/Admin/Buttons/search.gif">
                                </span>
                            </a>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div class="Field ImagePickerRender">
                        <img id="imagePicker" :src="event.image.url" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <script src="https://www.alumni.uc.edu/file/web-dev/js/vue.min.js"></script> -->
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="https://unpkg.com/vue-material@beta"></script>

<script type="text/javascript">
	!function($) {
	 	$(function() {
			Vue.use(VueMaterial.default)

		    // var $testEventValues = [
		    //     {
		    //         id: 3268,
		    //         text: 'New image text',
		    //         image: {
		    //             name: 'AboutUs.jpg',
		    //             url: 'https://www.alumni.uc.edu/image/events/homecoming/2018/image2.png'
		    //         }                    			
		    //     }
		    // ];	
		    var $bbisValues = BLACKBAUD.api.customPartEditor.settings.imagePicker;

		    // Get part ID
		    var $partID = $('#pagecntnt_tmpltcntnt_tabContentTabs__ctl1_props1_lblPartId').text();

		    new Vue({
			el: '#app',
			data() {
			    return {						
				events: $bbisValues
			    };
			},
			computed:{
					partIDEvent: function() {
					return this.events.filter(function(event) {
						return event.id == $partID;
					})
					}	            
			    },
			mounted: function($) {     
			    this.setupSettings();
			    this.bindImagePicker();
			    this.bindSave();                  
			},                
			methods: {
			    setupSettings:function() {
				if (typeof BLACKBAUD.api.customPartEditor.settings.imagePicker.length == 'undefined') {
				    BLACKBAUD.api.customPartEditor.settings.imagePicker = {
					id,
					image: {
					    alt: '',
					    id: '',
					    name: '',
					    url: ''
					},
					text: ''
				    }
				}
			    },
			    bindImagePicker:function () {
				if (!BLACKBAUD.api.customPartEditor.images.canLaunchImagePicker) {
				    $('.error-permission').show();
				} else {
				    $('a.ImagePicker').on('click', (e) => {
					e.preventDefault();
					BLACKBAUD.api.customPartEditor.images.launchImagePicker({
					    callback: this.renderImage
					});
				    });
				}
			    },
			    bindSave:function () {
				BLACKBAUD.api.customPartEditor.onSave = function() {
				    var items = [],
					success = true;
				    $('.error-validation').hide();
				    $('[data-validate]').each(function() {
					var element = $(this);
					if (element.val() == '') {
					    $(element.data('validate')).show();
					    success = false;
					}
				    });

				    // Save data
				    var rowdata = {
					id: parseInt($partID),                                
					image: {
					    alt: '',
					    id: '',
					    name: $('.ImagePicker .SearchFieldText').text(),
					    url: $('.Field.ImagePickerRender img').prop('src')
					},
					text: $('#field-highlighter-text').val(),
				    };
				    items.push(rowdata);

				    BLACKBAUD.api.customPartEditor.settings["imagePicker"] = items;

				    return success;
				}
			    },
			    renderImage:function(o) {
				if (typeof o.name != 'undefined' && o.url != 'undefined') {
				    $('.ImagePicker .SearchFieldText').text(o.name);
				    $('#imagePicker').prop('src', o.url);
				    $('#field-highlighter-image-name').val(o.name);
				    $('#field-highlighter-image-url').val(o.url);
				}
				BLACKBAUD.api.customPartEditor.settings.imagePicker.image = o;
			    }
			}                
		    })
		});
	}(jQuery);
</script>
