$timing: cubic-bezier(0,.5,1,.5);

// body {
//   background: black;
// }

#impact {
    height: 100vh;
    .carousel {
        background: $black;
        height: 80vh;
        @include media('<=tablet') {
            //height: 82vh;
        }
        .carousel-inner {
            display: flex;
            overflow: hidden;
            background: black;
            height: 100%;
            .carousel-inner-image {
                width: 100%;
                margin-right: -100%;
                opacity: 0;
                transform: translate(-100%);
                transition: 500ms ease-out;
                background-size: 80%;
                //background-size: cover; // temporary
                background-repeat: no-repeat;
                background-position: left -40% center;
                position: relative;
                &:not(:first-child) {
                    .borderTriangle {
                        display: none;
                    }                
                }
                @include media('<=tablet') {
                    // background: none;
                    // background-image: none !important;
                    background-size: cover;
                    background-position: top center !important;
                }
                &:after {
                    content: '';
                    width: 30px;
                    height: 100vh;
                    background: rgba($red, 0.5);
                    position: absolute;
                    top: -10vh;
                    left: 50.8%;
                    transform: rotate(30deg);
                    z-index: 14;
                    @include media('<=tablet') {
                        display: none;
                    }
                }
                .redBg {
                    position: absolute !important;
                    top: 0;                
                    z-index: 9;
                    width: 70%;
                    height: 81vh;                
                    // background: $red;
                    position: relative;
                    padding: 0;
                    background-size: cover;
                    @include media('<=tablet') {
                        background-image: none !important;
                        clip-path: none !important;
                        shape-outside: none !important;
                        -webkit-clip-path: none !important;
                    }                
                    &:after {
                        content:" ";
                        display: block; 
                        height: 0;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        z-index: 1;
                        @include media('<=tablet') {
                            border-left: 0 !important;
                        } 
                    }
                    .clipAngleUp {
                        background-color: transparent;
                        width: 42%;
                        height: 80vh;    
                    }
                    .slideTextContainer {
                        width: 100%; // 85%;
                        position: relative;
                        top: 6em;                    
                        z-index: 2;
                        display: block;
                        height: 70vh;                                    
                        p {
                            font-size: 1em;
                            line-height: 1.35em;
                            font-family: 'Gentium Regular';
                        }
                        p, blockquote {
                            font-family: $gentium !important;                        
                            width: 90%; 
                            padding-right: 3%;
                            margin-right: 0;
                            margin-left: auto; 
                            margin-bottom: 15px;
                            display: block;
                            color: $white;
                            line-height: normal;                 
                        }
                        blockquote {
                            font-weight: bold;
                            font-size: 1.15em;
                            // margin: 0.5em 0;
                            line-height: 1.5em;
                            background: none;
                            padding: 0;
                            font-family: 'Gentium Bold';
                        }
                        em {
                            color: $white;
                        }
                        .image-text {
                            margin-top: 10px;
                            width: 50%;
                            height: 215px;
                            overflow: hidden;
                            position: relative;
                            &.dcummins {
                                width: 25%;
                                height: auto;
                                img {
                                    width: 100%;
                                }            
                                em {
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                    padding: 5px;
                                }                    
                            } 
                            &:after {
                                content: '';
                                display: block;
                                clear: both;
                            }                                                
                            img {
                                width: 45%;
                                display: inline-block;
                                float: left;
                                position: relative;
                                &:first-child {
                                    margin-right: 3%;              
                                }                    
                            }
                            a {
                                width: 45%;
                                display: inline-block;
                                position: relative;
                                img {
                                    width: 100%;
                                }
                                .fa {
                                    &.fa-play-circle-o {
                                        position: absolute;
                                        top: 33%;
                                        left: 40%;
                                        z-index: 50;
                                        color: $white;
                                        font-size: 4em;
                                    }
                                }
                            }
                            em {
                                background: rgba($black, 0.8);
                                &.graduation {
                                    position: absolute;
                                    left: 0;
                                    bottom: 0px;
                                    width: 45%;
                                    z-index: 25;
                                    padding: 5px;
                                }
                                &.video {
                                    position: absolute;
                                    left: 48%;
                                    bottom: 0px;
                                    width: 45%;
                                    z-index: 25;
                                    padding: 5px;
                                }
                            }
                        }
                        @include media('<=tablet') {
                            padding: 0 1em !important;
                            top: 5em;
                        }
                    }
                }
                .title {
                    position: absolute;
                    right: 0;
                    top: 2em;
                    z-index: 15;
                    padding: 0 2em;
                    color: $white;
                    text-align: right;
                    border-bottom: 30px solid $black;
                    border-left: 20px solid transparent;
                    border-right: 0px solid transparent;
                    height: 0;
                    width: 50%;
                    margin: auto;
                    line-height: 30px;
                    font-weight: 300;
                    span {
                        font-style: italic;
                        font-weight: bold;
                        &.title-text {
                            color: $white;
                        }
                    }
                    @include media('<=desktop') {
                        width: 75%;
                    }
                    @include media('<=tablet') {
                        top: 1em;
                        line-height: 25px;
                        width: 95% !important;
                        padding: 0 1em;
                        border-bottom: 50px solid $black;
                    }
                }
                &:nth-of-type(odd) {
                    &:after {
                        left: 48.5%;
                    }
                    .redBg {
                        right: 0;
                        clip-path: polygon(39.5% 0, 100% 0, 100% 100%, 4.5% 100%);
                        -webkit-shape-outside: polygon(39.5% 0, 100% 0, 100% 100%, 4.5% 100%);
                        shape-outside: polygon(39.5% 0, 100% 0, 100% 100%, 4.5% 100%);
                        -webkit-clip-path: polygon(39.5% 0, 100% 0, 100% 100%, 4.5% 100%);
                        &:after {
                            border-bottom: 100vh solid rgba($impactRed, .9);
                            border-left: 29.5vw solid transparent;
                            border-right: 0px solid transparent;
                            right: 0;
                            left: -10%;
                        }                    
                        .clipAngleUp {
                            // clip-path: polygon(0 0, 0 100%, 100% 0);
                            // -webkit-shape-outside: polygon(0 0, 0 100%, 91% 0);
                            // -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);

                            clip-path: polygon(0 0, 0 114%, 76% 0);
                            -webkit-shape-outside: polygon(0 0, 0 114%, 76% 0);
                            shape-outside: polygon(0 0, 0 114%, 76% 0);
                            -webkit-clip-path: polygon(0 0, 0 114%, 76% 0);
                            float:left;                                        
                            margin-left: 8em;
                            display: none;
                        }
                        .slideTextContainer {
                            right: 2em;
                            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                            -webkit-shape-outside: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                            shape-outside: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                            margin-right: 1.5em;
                            margin-left: auto;
                            &:before {
                                content:'';
                                width:40%;
                                float:left;
                                height:94vh;
                                margin-top: -2em;
                                background: url('https://foundation.uc.edu/image/annual-report/2018/triangleDownLeft.png') left center;
                                background-size:cover;
                                -webkit-shape-outside: polygon(0 0, 100% 0, 0% 100%, 0% 100%);
                                shape-outside: polygon(0 0, 100% 0, 0% 100%, 0% 100%);
                                -webkit-clip-path: polygon(0 0, 100% 0, 0% 100%, 0% 100%);
                                clip-path: polygon(0 0, 100% 0, 0% 100%, 0% 100%);
                                -webkit-shape-margin: 0;
                                shape-margin: 0;
                                padding-left: 1em;
                                opacity: 0;
                            }
                            &:after {
                                display: none;
                                content: '';
                                position: absolute;
                                right: 0;
                                left: 0;
                                bottom: 0;
                                height: 20em;
                                z-index: 25;
                                background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
                                background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
                                background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
                            }
                            @include media('<=tablet') {
                                right: 0;
                                padding: 0 2em;
                                p, blockquote {
                                    width: 100%;
                                    margin-left: 0;
                                    margin-right: 0;
                                    padding-right: 0;
                                    padding-left: 0;
                                }
                            }
                        }
                        @include media('<=desktop') {
                            width: 100% !important;
                            .slideTextContainer {
                                &:before {
                                    display: none;
                                }
                            }
                        }
                    }
                    .modal-read {
                        right: 20%;
                    }
                }
                &:nth-child(3) {
                    .redBg {
                        shape-outside: none;
                        -webkit-shape-outside: none;
                        -webkit-clip-path: none;
                        clip-path: none;
                        .slideTextContainer {
                            // width: 110%;
                            padding-right: 2em;
                            &:before {
                                width: 46%;
                                shape-outside: polygon(0 0, 100% 0, 0% 100%, 0% 100%);
                                -webkit-clip-path: polygon(0 0, 100% 0, 0% 100%, 0% 100%);
                                clip-path: polygon(0 0, 100% 0%, 0% 100%, 0% 100%);
                            }
                        }
                    }
                }
                &:nth-of-type(even) {
                    background-position: right -8em center;
                    &:after {
                        left: 51%;
                    }
                    .redBg {
                        left: 0;
                        shape-outside: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
                        -webkit-shape-outside: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
                        -webkit-clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
                        clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
                        @include media('<=desktop') {
                            shape-outside: none;
                            -webkit-shape-outside: none;
                            -webkit-clip-path: none;
                            clip-path: none;
                            &:after {
                                border-right: 0 !important;
                            }
                        }
                        @include media('<=tablet') {
                            width: 100%;
                        }
                        &:after {
                            border-top: 100vh solid rgba($impactRed, 0.9);
                            border-right: 34vw solid transparent;
                            border-left: 0px solid transparent;
                            left: 0;
                            right: -10%;
                        }                        
                        .clipAngleUp {
                            background-color: transparent;
                            width: 42%;
                            height: 80vh;
                            clip-path: polygon(0 0, 0 100%, 100% 0);
                            -webkit-shape-outside: polygon(0 0, 0 100%, 91% 0);
                            shape-outside: polygon(0 0, 0 100%, 91% 0);
                            -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
                            float:right;
                            margin-left: 1em;
                            display: none;
                        }
                        .slideTextContainer {
                            left: 0em;
                            margin-right: 0;
                            margin-left: 0;
                            clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
                            -webkit-shape-outside: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
                            shape-outside: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
                            -webkit-clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
                            padding-left: 2em;
                            @include media('<=desktop') {
                                shape-outside: none !important;
                                -webkit-shape-outside: none !important;
                                -webkit-clip-path: none !important;
                                clip-path: none !important;
                                &:before {
                                    display: none;
                                }
                                p {
                                    padding-right: 0 !important;
                                }
                            }
                            &:before {
                                content:'';
                                width:30%;
                                float:right;
                                height:94vh;
                                margin-top: -2em;
                                background: url('https://foundation.uc.edu/image/annual-report/2018/triangle-bottomright.png') left center;
                                background-size:cover;
                                -webkit-shape-outside: polygon(60% 0, 100% 0, 100% 100%, -90% 100%);
                                shape-outside: polygon(60% 0, 100% 0, 100% 100%, -90% 100%);
                                -webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, -90% 100%);
                                clip-path: polygon(60% 0, 100% 0, 100% 100%, -90% 100%);
                                -webkit-shape-margin: 0;
                                shape-margin: 0;
                            }
                            &:after {
                                display: none;
                                content: '';
                                position: absolute;
                                right: 0;
                                left: 0;
                                bottom: 0;
                                height: 20em;
                                z-index: 25;
                                background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
                                background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
                                background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
                            }
                            p, blockquote {
                                padding-right: 3%;
                                margin-right: auto;
                                margin-left: 0;  
                                line-height: normal; 
                                @include media('<=tablet') {
                                    margin-right: 0;
                                }                  
                            }
                        }
                    }
                    > .title {
                        left: 0;
                        text-align: left;
                        border-bottom: 0px solid #000000;
                        border-top: 30px solid $black;
                        border-right: 17px solid transparent !important;
                        border-left: 0px solid transparent !important;
                        margin: 0 !important;
                        width: 50%;
                        position: relative;
                        @include media('<=desktop') {
                            width: 75%;
                        }
                        @include media('<=tablet') {
                            border-top: 30px solid $black;
                            border-right: 37px solid transparent !important;
                        }
                        > span {
                            position: absolute;
                            top: -30px;
                            bottom: 0;
                            height: 30px;
                            line-height: 30px;
                            margin-top: 0;
                        }
                    }
                    .modal-read {
                        left: 20%;
                    }
                } 
                &:nth-child(3) {
                    .redBg {
                        width: 70%;
                        padding-left: 0px;
                        &:after {
                            display: none;
                        }
                        @include media('<=desktop') {
                            &:before {
                                content: '';
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                height: 90vh;
                                width: 100%;
                                background: rgba($red, 0.8);
                            }
                        }
                    }
                }
                &:last-child {
                    background-size: 90%;
                    background-position: left -300% center;
                }                     
                #sliderTriangle, .triangleText {
                    display: none;
                }
                .borderTriangle {
                    @include media('<=tablet') {
                        display: none;
                    }
                }
                &:first-child {
                    @include media('<=desktop') {
                        .redBg {
                            .slideTextContainer {
                                width: 70% !important;
                            }
                        }
                    }
                    @include media('<=tablet') {
                        .redBg {
                            .slideTextContainer {
                                width: 100% !important;
                            }
                        }
                    }
                    .borderTriangle {
                        border-bottom-width: 40vh;
                        border-top-width: 40vh;
                        border-left: 40vh solid rgba($red, 0.9);
                    }
                    #sliderTriangle {
                        display: block;
                        position: absolute;
                        bottom: 0;
                        top: 0;
                        z-index: 30;
                        margin: auto;
                        transform: rotate(90deg);
                        filter: drop-shadow(0 0 30px #333);
                        opacity: 0.8;
                        @include media('>tablet') {
                            left: -600px;     
                        }
                        @include media('<=tablet') {
                            // left: -55em;
                            display: none;      
                        }
                    }
                    .triangleText {
                        display: block;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: -10em;
                        margin: auto;
                        height: 100px;
                        z-index: 40;
                        font-size: 2.5em;
                        @include media('<=tablet') {
                            display: none;      
                        }
                        span {
                            display: block;
                            color: $white;
                            font-style: italic;
                            font-size: 1.5em;
                        }
                    }
                }
                &[data-active-slide] {
                    transform: translateX(0);
                    opacity: 1;
                }
                &[data-active-slide] ~ .carousel-inner-image {
                    transform: translateX(100%);
                }
                .modal-read {
                    display: none;
                    position: absolute;
                    bottom: 2em;
                    z-index: 20;
                    background: $red;
                    margin: auto;
                    width: 250px;
                    padding: 10px 0;
                    color: $white;
                    font-size: 1em;
                    font-weight: bold;
                    @include transition(all, 0.4s, ease-out);
                    &:focus, &:hover {
                        color: $red;
                        background: $white;
                    }
                    @include media('<=tablet') {
                        display: block;
                        left: 0 !important;
                        right: 0 !important;
                        width: 90%;
                        bottom: 1em;
                    }
                }
            }
        }
        &.modal {
            .carousel-inner {
                .carousel-inner-image {
                    &:nth-of-type(even) {
                        .slideTextContainer {
                            &:after {
                                display: block;
                            }
                        }
                    }
                    &:nth-of-type(odd) {
                        .slideTextContainer {
                            &:after {
                                display: block;
                            }
                        }
                    }
                    .modal-read {
                        display: block;
                    } 
                }
            }                       
        }
    }

    .thumbs {
        width: 100%;
        display: flex;
        position: absolute;
        height: 20vh; 
        @include media('<=desktop') {
            height: 20vh;
        } 
        @include media('>tablet') {
            bottom: 0;
            height:20vh;
        }
        @include media('<=tablet') {
            height: 16vh; 
            bottom: 25px;
        }
        .thumbs-thumbnail {
            flex: 1;
            @include media('<=tablet') {
                flex-grow: 1;            
            }
            & img {
                max-width: 100%;
            }
            button {
                padding: 0;
                border:0;
                outline: 0;
                cursor: pointer;
                overflow: hidden;
                position: relative;
                height: 20vh;
                @include media('<=tablet') {
                    height: 13vh !important;
                }
                img {
                    display: block;
                    // transition: 500ms ease-out;
                    @include transition(all, 500ms, ease-out);
                    transform: scale(1.0);
                    -webkit-transform: scale(1.0);
                    -ms-transform: scale(1.0);
                    filter: grayscale(100%);
                    -webkit-filter: grayscale(100%);
                    -ms-webkit-filter: grayscale(100%);
                    @include media('<=tablet') {
                        transform: scale(1.75);
                        -webkit-transform: scale(1.75);
                        -ms-transform: scale(1.75);
                    }
                }
                p {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    z-index: 40;
                    color: $white;
                    background: rgba($black, 0.8);
                    padding: 7px 0;
                    // transition: 500ms ease-out;
                    @include transition(all, 500ms, ease-out);
                    font-style: italic;
                    font-weight: bold;
                    letter-spacing: 0.5px;
                    height: 26px;
                    @include media('<=tablet') {
                        bottom: 0;
                        height: 100%;
                        padding: 0;
                        opacity: 0;
                    }
                    span {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        line-height: 26px;
                        display: none;
                        @include media('<=tablet') {
                            font-size: 1.5em;
                            height: 15vh;
                            margin-top: 0px;
                            padding: 10px 4px;
                        }
                    }
                }            
                &:hover { 
                    img {
                        filter: grayscale(0%);
                        transform: scale(1.15);
                        -webkit-transform: scale(1.15);
                        -ms-transform: scale(1.15);
                        transform-origin: center;
                    }
                    p {
                        color: $black;
                        background: rgba($white, 0.8);
                    }  
                }
                &[data-active-button] { 
                    img {
                        filter: grayscale(0%);
                        transform: scale(1.15);
                        @include media('<=tablet') {
                            transform: scale(1.75);
                        }
                    }
                    p {
                        color: $black;
                        background: rgba($white, 0.8);                    
                    }    
                }
                
            }
            @include media('<=desktop') {
                &:last-child {
                    button {
                        img {
                            width: 110%;
                            max-width: 110%;
                        }
                    }
                }
            } 
        }
    }

    .modal-mask {
        .modal-wrapper {
            .modal-container {
                padding-top: 1px !important;
                overflow-y: scroll;
                height: 80vh;
                width: 100%;
                .modal-default-button {
                    position: fixed;
                    right: 1em;
                }
                .modal-header {
                    .title {
                        width: 80% !important;
                    }
                }
                .modal-body {
                    padding-top: 40px;
                    .modal-text {
                        padding: 0 1em;
                        p, blockquote {
                            color: $black;
                            padding: 0.5em 0;
                        }
                        .image-text {
                            margin-top: 10px;
                            width: 50%;
                            height: 215px;
                            overflow: hidden;
                            position: relative;
                            a {
                                width: 45%;
                                display: inline-block;
                                position: relative;
                                .fa.fa-play-circle-o {
                                    position: absolute;
                                    top: 33%;
                                    left: 40%;
                                    z-index: 50;
                                    color: #ffffff;
                                    font-size: 4em;
                                }
                                img {
                                    width: 100%;
                                }
                            }
                            img {
                                width: 45%;
                                display: inline-block;
                                float: left;
                                position: relative;
                                &:first-child {
                                    margin-right: 3%;
                                }
                            }
                            em {
                                background: rgba($black, 0.8);
                                color: $white;
                                &.graduation {
                                    position: absolute;
                                    left: 0;
                                    bottom: 0px;
                                    width: 45%;
                                    z-index: 25;
                                    padding: 5px;
                                }
                                &.video {
                                    position: absolute;
                                    left: 48%;
                                    bottom: 0px;
                                    width: 45%;
                                    z-index: 25;
                                    padding: 5px;
                                }    
                            }
                        }
                    }
                }
            }
        }
    }
    
}
