
#footer {
    height: auto !important;
    background: $black;
    padding: 0 0 2em 0;
    overflow: visible;
    .container {
        width: 80%;
        margin: 0 auto;
        @include media('<=tablet') {
            width: 90%;
        }
        &.pdfVersion {
            padding: 1.25em 0;
            background: $gray-light;
            width: 100%;
            a {
                font-weight: bold;
                text-decoration: none;
                background: $black;
                padding: 10px 25px;
                @include transition(all, 0.4s, ease-out);
                &:hover {
                    background: rgba($black, 0.6);
                }
            }
        }
        .logo {
            margin: 1em auto 20px;
            display: inline-block;
            max-width: 400px;
            @include media('<=tablet') {
                max-width: 90%;
                margin-bottom: 10px;
            }
        }
        .one-third {
            width: 33%;
            display: inline-block;
            vertical-align: top;
            @include media('<=tablet') {
                width: 100%;
                &:nth-child(2) {
                    padding: 1em 0;
                }
                &:nth-child(3) {
                    .margin-top-bottom-10 {
                        text-align: center;
                    }
                    p:last-child {
                        text-align: center;
                    }
                }
                h2 {
                    text-align: center;
                }
            }
        }
        h2 {
            font-family: 'Bree Serif',Serif !important;
            margin: 0;
            padding-bottom: 0.5em;
            color: $white !important;
        }
        p {
            margin: 0;
            font-size: .8125em;
            line-height: 1.615em;
            color: $white;
        }
        a {
            color: $white;
            &.button {
                
            }
        }
        &.copyright {
            width: 100%;
            padding: 0;
            height: 30px;
            margin: 1.5em 0 0;
            background: rgba($white, 0.75);
            background-image: url('https://foundation.uc.edu/image/annual-report/2018/navBackground.png');
            color: $white;
            text-align: center;
            p {
                display: inline;
                margin: 0 auto;
                font-size: .725em;
                line-height: 1.75rem;
                font: $openSans;
            }
        }
    }
}
