.no-touch {
    .cd-nav-trigger {
        display: none;
    }
    #cd-vertical-nav {
        /*fix the navigation*/
        position: fixed;
        right: 25px;
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 999;
        padding: 20px 0;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: -13px;
            padding: 40px 19px;
            background: rgba($white, 0.75);
            border-radius: 30px;
            border: 1px solid $ltGray;
        }
        li {
            text-align: right;
            list-style: none;
            a {
                display: inline-block;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                position: relative;
                z-index: 50;
                &.fa {
                    font-size: 1.5em;
                    color: $black !important;
                    text-decoration: none;
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 5px;
                    width: 7px;
                    height: 7px;
                }
                span {
                    display: inline-block;
                    float: right;
                    -webkit-transform: scale(0.6);
                    -moz-transform: scale(0.6);
                    -ms-transform: scale(0.6);
                    -o-transform: scale(0.6);
                    transform: scale(0.6);
                }
                &:hover {
                    span {
                        /*scale up navigation dots and labels*/
                        transform: scale(1);
                    }
                    .cd-label {
                        /*show labels*/
                        opacity: 1;
                        background: rgba($white, 0.75);
                        color: $black;
                        border-color: $white;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                    }
                }
                &.is-selected {
                    .cd-dot {
                        background-color: $black;
                    }
                    // .cd-label {
                    //     transform: scale(1);
                    //     opacity: 1;
                    //     background: rgba($red, 0.85);
                    //     color: $white;
                    //     border: 1px solid $red;
                    //     border-top-left-radius: 10px;
                    //     border-bottom-left-radius: 10px;
                    // }
                }
            }
        }        
        .cd-dot {
            position: relative;
            top: 8px;
            height: 12px;
            width: 12px;
            border-radius: 50%;
            border: 2px solid $white;
            background-color: $red;
            -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
            -moz-transition: -moz-transform 0.2s, background-color 0.5s;
            transition: transform 0.2s, background-color 0.5s;
            -webkit-transform-origin: 50% 50%;
            -moz-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            -o-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
        }
        .cd-label {
            position: relative;
            margin-right: 14px;
            padding: .4em .5em;
            color: white;
            font-size: 14px;
            font-size: 0.875rem;
            -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
            -moz-transition: -moz-transform 0.2s, opacity 0.2s;
            transition: transform 0.2s, opacity 0.2s;
            opacity: 0;
            -webkit-transform-origin: 100% 50%;
            -moz-transform-origin: 100% 50%;
            -ms-transform-origin: 100% 50%;
            -o-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
        }
    }
}

.touch {
    #cd-vertical-nav {
        position: fixed;
        z-index: 1;
        right: 5%;
        bottom: 30px;
        width: 90%;
        max-width: 400px;
        max-height: 90%;
        // transform: scale(0);
        transition-property: transform;
        transition-duration: 0.2s;
        &.open {
            transform: scale(1);
        }
        @include media('<=tablet') {
            background: rgba($black, 0.85);
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
            max-width: 100%;
            height: 92.25vh;
            max-height: 92.25vh;
            z-index: 9999;
            display: none;
            ul {
                li {
                    height: 13vh;
                    a {
                        color: $white;
                        text-decoration: none;
                        text-align: center;
                        display: block;
                        font-weight: bold;
                        font-size: 1.35em;
                        line-height: 13vh;
                    }                    
                }
            }
        }
    }
    .cd-nav-trigger {
        display: none;
        background: $red;
        z-index: 999;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        height: 7.75vh;
        width: 100%;
        border-radius: 0;
        color: $white;
        text-align: center;
        font-size: 1.5em;
        line-height: 7.75vh;
        @include media('<=tablet') {
            display: block;
            border: 1px solid $red;
            &.cd-img-replace {
                overflow: hidden;
                // text-indent: 100%;
                white-space: nowrap;
            }
            span {
                position: absolute;
                height: 7.75vh;
                width: 100%;
                background-color: $red;
                border-radius: 0;
                left: 0%;
                top: 0%;
                bottom: auto;
                right: auto;
                color: $black;
            }
        }
    }
}

.nav-container {
    display: none;
    @include media('<=tablet') {
        display: block;
    }
}

#cd-vertical-nav {
    @include media("<=tablet") {
        display: none;
    }
}