.tabs {
    margin: 0px auto;
    max-width: 700px;
    background: #fff;
	box-shadow: 0 3px 16px rgba(0, 0, 0, 0.1);
	.tabs__list {
		display: flex;
		height: 40px;
		border-bottom: solid 1px #e9e9e9;		
	}
	.tabs__tab {
		padding: 0 14px;
		width: 50%;
		display: flex;
		align-items: center;
		color: rgba(0, 0, 0, 0.7);
		font-size: 13px;
		font-weight: bold;
		text-transform: uppercase;
		justify-content: center;
		cursor: pointer;
		@include transition(all, 0.4s, ease-out);
		&:hover {
			background: rgba($black, 0.5);
			color: $white;
		}
	}
	.tabs__tab_active {
		color: $white;
		background-color: $black;
	}
	.tabs__container {
		position: relative;
		overflow: hidden;
		will-change: height;
		transition: height 0.4s cubic-bezier(0.86, 0, 0.07, 1);
		.tabs__wrapper {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			will-change: transform;
			transition: -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
			transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
			transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
			.tabs__content {
				flex: 1 0 100%;
				width: 100%;
				padding: 16px;
			}
		}
	}
}  